<component name="ArtifactManager">
  <artifact type="exploded-war" name="APP">
    <output-path>$PROJECT_DIR$/out/artifacts/APP</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Produse/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Produse" />
        </element>
      </element>
    </root>
  </artifact>
</component>